@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BusinessManager.Services.DTOs.Users.BaseUserDto

@{
    ViewData["Title"] = "Delete";
}

<div class="card light-shadow m-0 m-auto col-5">
    <div class="img-fluid text-center mt-1">
        <img class="card-img-top img-fluid" style="width: 20rem" style="object-fit: contain" src="https://cdn.pixabay.com/photo/2013/03/29/13/38/trash-97586_960_720.png" alt="Person image">
    </div>
    <div class="card-body">
        <h5 class="card-title">Are you sure you want to delete this user?</h5>
        <div>
            <dl class="row">
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
        
                <a asp-action="Index" >
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-backward"></i> Back to List
                    </button>
                </a>

                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>