@using VocationManager.Services.DTOs
@using VocationManager.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ICollection<BaseUserDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole(Enum.GetName(DefaultRoles.CEO)))
{
    <p>
        <a asp-action="Create">
            <button class="btn btn-success">
                <i class="fas fa-user-plus"></i> New User
            </button>
        </a>
    </p>
}
@if (Model.Any())
{
    <div class="users-wrapper d-flex justify-content-evenly">
        @foreach (var user in Model)
        {
            <div class="card light-shadow">
                <div class="card-body">
                    <h5 class="card-title">@($"{user.FirstName} {user.LastName}")</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@($"{("ROLE_NAME @ Team_NAME")}")</h6>
                    <p class="card-text">@user.Username</p>
                    <a asp-action="Details" asp-route-id="@user.Id">
                        <button class="btn btn-primary">
                            <i class="fas fa-info-circle"></i> More info
                        </button>
                    </a>
                    @if (User.IsInRole(Enum.GetName(DefaultRoles.CEO)))
                    {
                        <a asp-action="Edit" asp-route-id="@user.Id">
                            <button class="btn btn-warning">
                                <i class="fas fa-user-edit"></i> Edit
                            </button>
                        </a>

                        <a asp-action="Delete" asp-route-id="@user.Id">
                            <button class="btn btn-danger">
                                <i class="fas fa-user-times"></i> Delete
                            </button>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <h6>No users found!</h6>
}
@*
                    @if (User.IsInRole(Enum.GetName(DefaultRoles.CEO)))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else if (User.IsInRole(Enum.GetName(DefaultRoles.Team_Lead))) //TODO AND USER IS MEMBER OF HIS TEAM
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }

*@