@using VocationManager.Services
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ICollection<VocationManager.Services.DTOs.Roles.RoleDto>

@{
    ViewData["Title"] = "Index";
    var index = 0;
}
<h1>Roles</h1>

@if (User.IsInRole(Enum.GetName(DefaultRoles.CEO)))
{
    <p>
        <a asp-action="Create">
            <button class="btn btn-success">
                <i class="fas fa-tags"></i> New role
            </button>
        </a>
    </p>
    @*@await Html.PartialAsync("_SearchAndPaginatePartial", Model.Paginator)*@

    <div class="card rounded-0">
        <h3 class="card-header h5 rounded-0">
            Role with associated users count
        </h3>
        <div class="card-block">
            <ul class="list-group">
                @foreach (var roleDto in Model)
                {
                    <li class="list-group-item d-flex @(index % 2 == 0 ? "bg-white" : "bg-light") justify-content-between align-items-center">
                        <div class="col-10 d-flex justify-content-between align-items-center m-2">
                            @(roleDto.Name)
                            <span class="badge badge-secondary bg-secondary">@(roleDto.UsersCount) Users</span>
                        </div>

                        @if (User.IsInRole(Enum.GetName(DefaultRoles.CEO)))
                        {
                            <div class="col-2">
                                <a asp-action="Details" asp-route-id="@roleDto.Id" class="mb-1">
                                    <button class="btn btn-sm btn-primary">
                                        <i class="fas fa-info-circle"></i> Info
                                    </button>
                                </a>

                                <a asp-action="Edit" asp-route-id="@roleDto.Id">
                                    <button class="btn btn-sm btn-warning">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </a>

                                <a asp-action="Delete" asp-route-id="@roleDto?.Id">
                                    <button class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>
                                </a>
                            </div>
                        }
                    </li>
                    index++;
                }
            </ul>
        </div>
    </div>
}
else
{
    <h6>No Roles found!</h6>
}
